PORT=3001

# ─── BASE DE DATOS MYSQL ────────────────────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=tu_password_mysql
DB_NAME=facturacion

# ─── miapi.cloud ────────────────────────────────────────────
MIAPI_TOKEN=539afcdb-c57a-40a0-ad62-9dfd21fa43ac
MIAPI_CLAVE=miap-8g1-n7g-670
MIAPI_RUC=10777923761
